#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

button {
  border: 1px solid white;
}

button:hover {
  background-color: #4d4d4d;
  border: 2px solid white;
}

.card {
  border: 1px solid #677dd1;
  padding: 1rem;
  text-align: start;
}

.card__header {
  color: #677dd1;
  text-align: center;
}

.card__body {
  white-space: pre-wrap;
}
